.creation_form_container {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    color: white;
    width: 600px;
    gap: 8rem;
}


.create_btn {
    width: fit-content;
    outline: none;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 1.75rem;
    background-color: #6AA354;
    cursor: pointer;
}

.create_btn:hover,
.create_btn:focus {
    box-shadow: 0px 0px 5px 2px #41752d;
}


.error_message 
{ 
    color: #6AA354;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.save-to-contact {
    color: white;
    font-weight: 600;
    font-size: 2rem;
}

.save-to-contact-wrapper {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    gap: 2rem;
}

