.backgroundCoverPhoto {
    width: 100%;
    /* background-color: #1E2A37; */
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.box {
    cursor: pointer;
}

.buttons_container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: rgb(240, 240, 240);
}

.link_btn {
    padding: 1rem 1.5rem;
    width: 100%;
    background-color: #fe224a;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    margin-top: 1.5rem;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;

}

.link_btn:hover,
.link_btn:focus {
    background-color: #f95d7a;
}


.head_area {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.head_area_wrapper {
    height: 250px;
}

.save-to-contact-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    color: white;    
    border-radius: 10px;  
    cursor: pointer;  
    margin-top: 4rem;
}
