.navbar_container {
    color: rgb(195, 195, 195);
    padding: 0rem 5rem;
    position: sticky;
    right: 0rem;
    left: 0rem;
    top: 0rem;
    background-color: #211142;
    z-index: 3;
    
}



.navbar_wrapper {
    background-color: transparent;
    /* background-color: white; */
    padding: 1rem 0rem 1rem;
    /* border-radius: 8px; */
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid #303030;
    
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
}

.logo_com {
    padding-bottom: 3px;
}

.logo_main {
    color: #FE385D;
    font-size: 2rem;
}

.welcome_note {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.profile_btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile_username {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    
}

.profile_pic {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.profile_pic::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50px;
    border: 1.5px solid white;
    bottom: 2px;
    right: -2px;
}


.profile_pic img {
    width: 100%;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    /* box-shadow: 0px 0px 100px 1px white; */
}

.navbar_logout_btn {
    padding: .4rem 1rem .55rem;
    background-color: #FE385D;
    display: flex;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1.5px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border: none;
    text-decoration: none;
}


.menu_background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.navbar_menu {
    position: absolute;
    background-color: white;
    padding: .75rem .5rem;
    gap: .4rem;
    display: flex;
    flex-direction: column;  
    border-radius: 10px;  
    top: 6rem;
    right: 4rem;
    color: grey;
}

.navbar_menu div {
    padding: .75rem;
    border-radius: 8px;
    cursor: pointer;
}

.navbar_menu div:hover,
.navbar_menu div:focus {
    background-color: rgb(240, 240, 240);   
}


@media(min-width: 451px) and (max-width: 900px) {
    .navbar_container {
        padding: 0rem 3rem;
    }
    .profile_pic {
        position: relative;
        right: 2rem;
    }
}

@media(min-width: 300px) and (max-width: 450px) {
    .navbar_container {
        padding: 0 1rem;
    }
    .profile_pic {
        position: relative;
        right: 2rem;
    }
}


@media (min-width: 300px) and (max-width: 900px) {
   

    .welcome_note,
    .profile_username {
        display: none;
    }

    .navbar_menu {
        top: 5rem;
        right: 1rem;
    }

    
    
}