.color_input_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 8rem;
    gap: 3rem;
}


.display_color {
    display: block;
    width: 75px;
    height: 75px;
    outline: 2px solid white;
    border-radius: 5px;    
}

.color_input_wrapper {
    display: flex;
    align-items: center;
}


.color_input_wrapper span {
    font-size: 1.1rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: white;
}   

.font_input {
    margin-top: 8rem;
}